* {
    margin:0px;
    padding :0px;
}

body {
    background-color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 1.2em;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: rgb(61, 60, 60);
    border: 10px solid red;
    padding: 20px 15px ;
    color : white;
    margin : 20px 20px;  /* top-bottom left-right*/
}

.box-1 h1 {
    letter-spacing:  0.1em;
    word-spacing: 0.2em;
}

.box-2 {
    border : 10px dotted royalblue;
    padding: 20px 15px ;
    margin : 20px 20px;  /* top-bottom left-right*/
}

.myform {
    padding : 20px;
}

.myform .form-group {
    padding-bottom: 10px;
}

.myform label {
    display: block;
}

.myform input[type="text"],
.myform input[type="email"] {
    padding: 20px;
    width 100%;
}

.button {
    background-color: black;
    color:white;
    padding: 15px 20px;
    border : none;
}

.myform .button:hover {
    background-color: red;
}

.block {
    float: left;
    border: 10px solid black;
    width: 33.3%;
    /* margin : 20px; */
     box-sizing: border-box; 
}

.clear-float {
    clear : both;
}
.main-block {
  
    width : 70%;
    float :left;
}

.side-nav {
    width :30%;
    float : right;
}

.position-exp {
    position: relative;
    border : 10px solid  red;
}
.position-exp h1 {
    position: absolute;   /* Goes to parent top*/
    top : 100px;
}

.fixed-test {
    position:  fixed;
    bottom :10px;
}

table {
    margin : 20px;
    border : 5px solid black;
    width: 50%;
    padding : 0px;
}

table td {
    border: 2px 0px solid black;
    margin :0px;
    padding : 0px;
}
.cell {
    border: 2px solid black;
}